rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read, write, update: if request.auth != null && request.auth.uid == userId;

      // Add rules for subcollections under Users/{userId}
      match /Events/{eventId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
  
    match /Venues/{venueId} {
      allow read, write: if true;
    }
    }

  
  }
}
